---
import "@fontsource/vollkorn";
import type { Content } from "../dto";
import BlockRenderer from "./cms/blockRenderer.astro";

export interface Props {
  title: string;
  content: Content[];
}

const { content, title } = Astro.props;
---

<div class="bg-white rounded-xl z-20 p-8 shadow-xl my-48">
  <div class="flex py-4">
    <div class="w-16 h-16 flex" style="transform: rotate(-20deg); ">
      <img src="/listek1.png" />
    </div>
    <h1 class="text-6xl manslava mb-8">{title}</h1>
  </div>

  <BlockRenderer content={content} />

  <div class="text-right w-full reenieBeenie text-4xl pt-8">Tilen Letner</div>
</div>

<style>
  .manslava {
    font-family: "Mansalva", cursive;
  }
  .vollkorn {
    font-family: "Vollkorn", serif;
  }
  .reenieBeenie {
    font-family: "Reenie Beanie", cursive;
  }
</style>
