---
import { log } from "astro/dist/core/logger/core";

export interface Props {
  text: string;
  href: string;
}

const url = Astro.url.pathname;
const { text, href } = Astro.props;

const cls = url === href ? "selected" : "";
---

<!-- <div class="w-48">
  <img src="/oblakcek2.svg" alt="" srcset="" />
</div> -->
<a
  class={"manslava p-2 px-4 m-2 text-4xl z-20 text-gray-500" + cls}
  href={href}
>
  {text}</a
>

<style>
  .selected {
    border-radius: 2rem;
    color: black;
  }

  .manslava {
    font-family: "Mansalva", cursive;
  }
</style>
