---
import { useSanityClient, groq } from "astro-sanity";
import type { Content } from "../../dto";

export interface Props {
  content: Content[];
}

const { content } = Astro.props;
---

{
  content.map((c) => (
    <p
      class="vollkorn md:text-xl text-md text-justify px-8 py-2 text-gray-800"
      style={"line-height: 1.6; maxw: 75ch; "}
    >
      {c.children.map((child) => {
        if (child._type === "span") {
          // strong
          if (child.marks.includes("strong")) {
            return <span class="font-bold">{child.text}</span>;
          }
          // underline
          if (child.marks.includes("underline")) {
            return <span class="underline">{child.text}</span>;
          }
          // em
          if (child.marks.includes("em")) {
            return <span class="italic">{child.text}</span>;
          }

          return <span class="">{child.text}</span>;
        }
      })}
    </p>
  ))
}
