---
import Outline from "../layouts/Outline.astro";
---

<Outline title="Ekipa">
  <div class="bg-white rounded-xl z-20 p-8 shadow-xl my-16 mx-auto">
    <div class="flex py-4">
      <div class="w-16 h-16 flex" style="transform: rotate(-20deg); ">
        <img src="/listek1.png" />
      </div>
      <h1 class="text-6xl manslava mb-8">Ekipca</h1>
    </div>
    <p class="vollkorn text-xl py-4">
      Tukaj so zapisani vsi, ki so pogumno stali skupaj, da smo s skupnimi močmi
      postavili tole spletišče.
    </p>
    <div class="grid md:grid-cols-3 grid-cols-2 gap-6 pt-8">
      <div class="flex flex-col">
        <h3 class="font-bold manslava text-3xl">Lead design</h3>
        <span class="">Tereza Hladilnik</span>
      </div>
      <div class="flex flex-col">
        <h3 class="font-bold manslava text-3xl">Senior designer</h3>
        <span class="">Nik Globočnik</span>
      </div>
      <div class="flex flex-col">
        <h3 class="font-bold manslava text-3xl">Junior design</h3>
        <span class="">Ana Hladilnik</span>
      </div>
      <div class="flex flex-col">
        <h3 class="font-bold manslava text-3xl">Design QA</h3>
        <span class="">Tina Florjančič</span>
      </div>
      <div class="flex flex-col">
        <h3 class="font-bold manslava text-3xl">Programmer</h3>
        <span class="">Lan Vukušič</span>
      </div>
      <div class="flex flex-col">
        <h3 class="font-bold manslava text-3xl">Žan</h3>
        <span class="">Žan Oberstar</span>
      </div>
      <div class="flex flex-col">
        <h3 class="font-bold manslava text-3xl">Him</h3>
        <span class="">Tilen Letner</span>
      </div>
    </div>

    <div class="text-right w-full reenieBeenie text-4xl pt-16">
      Made with love {"<3"}
    </div>
  </div>
</Outline>

<style>
  .manslava {
    font-family: "Mansalva", cursive;
  }
  .vollkorn {
    font-family: "Vollkorn", serif;
  }
  .reenieBeenie {
    font-family: "Reenie Beanie", cursive;
  }
</style>
