---
import "@fontsource/mansalva";
import { useSanityClient, groq } from "astro-sanity";
import type { Post } from "../dto";
import Outline from "../layouts/Outline.astro";

export interface Props {}

const {} = Astro.params;

export async function getBlogs() {
  const query = groq`*[_type == "blogpost"]`;
  const firstPost = await useSanityClient().fetch(query);
  return firstPost;
}

const blogs: Post[] = await getBlogs();
const filtered = blogs.filter((blog) => new Date(blog.postAt) <= new Date());
---

<Outline title="Tilenov blog">
  <div
    class="mx-auto rounded bg-white shadow-lg flex flex-col items-center max-w-screen-md w-full py-8"
  >
    <h2 class="manslava my-8 text-5xl text-amber-500">Kazalo</h2>
    {
      filtered.map((blog) => (
        <div class="p-4 m-4">
          <div class="flex items-center">
            <div
              class="w-6 h-6 flex mr-4"
              style={`transform: rotate(${Math.random() * 180}deg);`}
            >
              <img src="listek2.png" />
            </div>
            <a class="manslava text-3xl" href={blog.url + "#content"}>
              {blog.naslov}
            </a>
          </div>
        </div>
      ))
    }
  </div>
</Outline>

<style>
  .manslava {
    font-family: "Mansalva", cursive;
  }
  .reenieBeenie {
    font-family: "Reenie Beanie", cursive;
  }
</style>
