---
import "@fontsource/mansalva";
// @ts-ignore
import { useSanityClient, groq } from "astro-sanity";
import { log } from "astro/dist/core/logger/core";
import type { Post } from "../dto";
import Outline from "../layouts/Outline.astro";

export interface Props {}

const {} = Astro.params;

export async function getBlogs() {
  const query = groq`*[_type == "blogpost"]`;
  const firstPost = await useSanityClient().fetch(query);
  return firstPost;
}

const blogs: Post[] = (await getBlogs()).sort(
  (a: any, b: any) =>
    new Date(b.postAt).getTime() - new Date(a.postAt).getTime()
);

type TimedBlog = {
  [year: string]: Post[];
};

const timedBlogs: TimedBlog = {};

for (const blog of blogs) {
  const y = new Date(blog.postAt).getFullYear().toString();
  if (timedBlogs[y] == undefined) {
    timedBlogs[y] = [];
  }
  timedBlogs[y].push(blog);
}
---

<Outline title="Tilenov blog">
  <div
    class="mx-auto rounded bg-white shadow-lg flex flex-col md:items-center items-start max-w-screen-md w-full py-8"
  >
    <h2 class="manslava my-8 mx-auto text-5xl text-amber-500">Kazalo</h2>

    {
      Object.keys(timedBlogs)
        .reverse()
        .map((year) => (
          <>
            <div class="w-full flex justify-center items-center px-16 py-12">
              <div class="h-0.5 w-full bg-gray-50" />
              <h5 class="manslava px-4 my-2 mx-auto text-xl text-gray-400 tracking-widest font-light">
                {year}
              </h5>
              <div class="h-0.5 w-full bg-gray-50" />
            </div>
            {timedBlogs[year].map((blog) => (
              <>
                <div class="p-4 m-4 hidden " id="blog">
                  <div class="flex items-center w-full">
                    <div
                      class="w-6 h-6 flex mr-4"
                      style={`transform: rotate(${Math.random() * 360}deg);`}
                    >
                      <img src="listek2.png" />
                    </div>
                    <div class="flex flex-col w-full">
                      <a class="manslava text-3xl" href={blog.url + "#content"}>
                        {blog.naslov}
                      </a>
                      <span class="text-gray-500 reenieBeenie text-2xl">
                        {blog.postAt}
                      </span>
                    </div>
                  </div>
                </div>
              </>
            ))}
          </>
        ))
    }
  </div>
</Outline>

<style>
  .manslava {
    font-family: "Mansalva", cursive;
  }
  .reenieBeenie {
    font-family: "Reenie Beanie", cursive;
  }
</style>

<script define:vars={{ blogs }}>
  // find all the hidden divs and show them
  const hiddenDivs = document.querySelectorAll("#blog");
  hiddenDivs.forEach((div, i) => {
    console.log(div, new Date(blogs[i].postAt));
    if (new Date(blogs[i].postAt) < new Date()) {
      div.classList.remove("hidden");
    }
  });
</script>
