---
import Outline from "../layouts/Outline.astro";
import BlockRenderer from "../components/cms/blockRenderer.astro";
import { sanityClient } from "sanity:client";
export async function getFirstBlogPost() {
  const query = `*[_type == "jaz"]`;
  const firstPost = await sanityClient.fetch(query);
  return firstPost;
}

type mark = "strong" | "em" | "underline" | "code" | "link";

interface Child {
  text: string;
  _type: string;
  marks: mark[];
}

const data = (await getFirstBlogPost())[0];
---

<Outline title="O meni">
  <div class="bg-white rounded-xl z-20 shadow-xl my-16 mx-2 mt-32 md:mt-24">
    <div class="flex -mt-24 mx-auto justify-center items-end">
      <div class="w-16 h-16 flex" style="transform: rotate(-90deg); ">
        <img src="/listek1.png" />
      </div>
      <div
        class="rounded-full md:h-56 md:w-56 w-32 h-32 shadow-lg"
        style="background: url(/tilen.png); background-position: center; background-size: cover;"
      >
      </div>
      <div class="w-16 h-16 flex" style="transform: rotate(20deg); ">
        <img src="/listek1.png" />
      </div>
    </div>
    <div class="flex py-4">
      <h1 class="md:text-6xl text-4xl manslava my-8 px-16">{data.naslov}</h1>
    </div>
    <BlockRenderer content={data.content} />
    <div class="text-right w-full reenieBeenie text-4xl py-8 px-8">
      Tilen Letner
    </div>
  </div>
</Outline>

<style>
  .manslava {
    font-family: "Mansalva", cursive;
  }
  .vollkorn {
    font-family: "Vollkorn", serif;
  }
  .reenieBeenie {
    font-family: "Reenie Beanie", cursive;
  }
</style>
