---
import Layout from "../layouts/Layout.astro";
import OblacekButton from "../components/oblacekButton.astro";
import Oblacek from "../components/oblacek.astro";
import Nogice from "../components/nogice.astro";
import "@fontsource/reenie-beanie";
import "@fontsource/mansalva";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <main class="bg-blue-50">
    <div
      id="oblaki"
      class="w-full h-48 z-10"
      style="background: url(/topoblakcek.png);  background-size: contain; position: fixed; top: 0; background-repeat: repeat-x;"
    >
    </div>

    <div class="md:block hidden" style="margin-top: 100vh;"></div>
    <div
      class="flex p-6 max-w-screen-lg mx-auto items-center justify-around md:mb-36 flex-nowrap mt-36"
    >
      <div style="transform: rotate(5deg);" class="md:block hidden">
        <Oblacek />
      </div>
      <div class="flex flex-col flex-nowrap">
        <h1 class="reenieBeenie md:text-5xl text-3xl px-4 text-center">
          Pretresljivi zapisi Tilena Letnerja
        </h1>

        <!-- orange text -->
        <div
          class="flex justify-center flex-nowrap md:text-9xl text-6xl"
          id="header"
        >
          <div class="h-24 md:flex hidden">
            <div
              class="w-8 h-8 flex"
              style="transform: rotate(-20deg); transform: translate(3rem);"
            >
              <img src="/listek2.png" />
            </div>
          </div>

          <!-- seo optimization -->
          <h1 class="hidden">moj blog</h1>

          <div class="manslava text-amber-500 text-center whitespace-nowrap">
            Moj bl
          </div>

          <div class="md:w-16 md:h-16 w-14 h-14 mt-1 flex md:mt-12" style="">
            <img src="/pomaranca.png" class="md:block hidden" />
            <img src="/icon.png" class="md:hidden block" />
          </div>
          <div class="manslava text-amber-500 text-center">g</div>

          <div class="mt-24 md:flex hidden">
            <div
              class="w-8 h-8 flex"
              style="transform: translate(-0.7rem)  rotate(20deg);"
            >
              <img src="/listek1.png" />
            </div>
          </div>
        </div>
      </div>
      <div style="transform: rotate(160deg);" class="md:block hidden">
        <Oblacek />
      </div>
    </div>

    <!-- navbar section -->

    <div
      class="w-full h-32"
      style="background: url(/topoblakcek3.png);  background-size: contain; background-repeat: repeat-x; transform: rotate(180deg);"
    >
    </div>
    <div class="bg-white w-full py-6">
      <div class="flex max-w-screen-md mx-auto justify-center">
        <OblacekButton text="Jaz" href="/jaz#content" />
        <OblacekButton text="Blog" href="/#content" />
        <OblacekButton text="Ekipa" href="/ekipa" />
      </div>
    </div>
    <div
      class="w-full h-32"
      style="background: url(/topoblakcek3.png);  background-size: contain; background-repeat: repeat-x;"
    >
    </div>

    <!-- content section -->

    <div class="bg w-full flex -mt-24 min-h-screen">
      <div
        class="mx-auto w-full max-w-screen-md flex items-center justify-center"
        id="content"
      >
        <slot />
      </div>
    </div>

    <div class="h-16"></div>

    <Nogice />
  </main>
</Layout>

<style>
  .bg {
    background-image: url(/tereza.png);
    background-size: 400px;
    background-repeat: repeat;
  }

  .reenieBeenie {
    font-family: "Reenie Beanie", cursive;
  }

  .manslava {
    font-family: "Mansalva", cursive;
  }
</style>

<script>
  const oblaki = document.querySelector("#oblaki");

  document.addEventListener("scroll", (event) => {
    let ticking = false;

    if (!ticking) {
      window.requestAnimationFrame(() => {
        if (oblaki) {
          // @ts-ignore
          oblaki.style.opacity = `${1 - window.scrollY / 500}`;
        }
      });

      ticking = true;
    }
  });
</script>
