---
---

<div class="groundbg w-full h-48 bg-green-800 flex justify-center">
  <div class="">
    <span></span>
  </div>
</div>

<style>
  .groundbg {
    /* background-image: url("https://i.imgur.com/1Z1Z1Z1.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
</style>
