---
---

<div class="groundbg w-full h-64 flex justify-center -mt-36">
  <div class="flex pt-16">adasda</div>
</div>

<style>
  .groundbg {
    background-image: url("/trawa.png");
    background-repeat: repeat-x;
    background-size: contain;
    background-position: center;
  }
</style>
